node_modules/
.env
.serverless

# Generated directories
build/

# Temp files
*~
.module-cache
_.*.pem
_.*.key

# MacOS files
.DS_STORE

# Misc log files
*.log*

#############
## EDITORS ##
#############

# IntelliJ
.idea/
*.iml

# Visual Studio Code
.vscode

# SublimeText
*.sublime-project
*.sublime-workspace

# VIM
*.swp
*.swo
